<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />

        {% block head_scripts %}{% endblock %}

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>A Fleeting Moment</title>
        {% endif %}
    </head>
    <body>
        {% block header %}
        <h1>Overrideable Content</h1>
        {% endblock %}
    </body>
</html>
