<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share Your Fleeting Moments</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body>

  <h1>Fleeting Comments?!</h1>

  <div class="moment-focus">
    <div class="result-item" onclick="window.location.href='/moment/{{moment.id}}'">
      <p>Id: {{moment.id}}</p>
      {% if moment.addressed_to %}
        <p>Addressed to: {{moment.addressed_to}}</p>
      {% endif %}
      <p>{{moment.content}}</p>
      {% if moment.username %}
        <p>By: {{moment.username}}</p>
      {% endif %}
    </div>
  </div>

  <form action="/comment/{{moment.id}}" method="POST">
    {{ form.csrf_token }}
    
    <div class="form-group">
      {{ form.content.label }}
      {{ form.content(required=true) }}
      
      {% if form.content.errors %}
        <div class="error">
          {% for error in form.content.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="checkbox-container">
      {{ form.public(checked=true) }}
      {{ form.public.label }}
    </div>

    {{ form.submit }}
    
    <div class="comment-results">
    {% for comment in comments %}
      <div class="comment-item">
        <p class="post-id">Id: {{comment.id}}</p>
        <p>{{comment.content}}</p>
        {% if comment.username %}
          <p>By: {{comment.username}}</p>
        {% endif %}
        <p>{{comment.time}}</p>
      </div>
    {% endfor %}  
    </div>
  </form>

</body>
</html>

