<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share Your Fleeting Moments</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body>

  <h1>Fleeting Moments</h1>

  <form action="/createmoment" method="POST">
    {{ form.csrf_token }}
    
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(required=true) }}
      
      {% if form.description.errors %}
        <div class="error">
          {% for error in form.description.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.location.label }}
      {{ form.location(required=true) }}
      
      {% if form.location.errors %}
        <div class="error">
          {% for error in form.location.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    <div class="checkbox-container">
      {{ form.public(checked=true) }}
      {{ form.public.label }}
    </div>

    <div class="form-group">
      {{ form.addressed_to.label }}
      {{ form.addressed_to(placeholder="Who is this addressed to?") }}
    </div>

    {{ form.submit(class="submit-button", value="Create Post") }}
  </form>

</body>
</html>

