<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fleeting Moments</title>
  <script async src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=console.debug&libraries=maps,marker&v=beta">
  </script>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body>
  <gmp-map center="40.12150192260742,-100.45039367675781" zoom="4" map-id="DEMO_MAP_ID">
    <gmp-advanced-marker position="40.12150192260742,-100.45039367675781" title="My location"></gmp-advanced-marker>

    <gmp-advanced-marker position="46.12150192260742,-100.45039367675781" title="My location"></gmp-advanced-marker>
  </gmp-map>

  <form class="search-bar" action="/search" method="GET">
    <input class="search-input" type="text" name="search" placeholder="Search for a location">
    <input class="submit-button" type="submit" value="Search">
  </form>

  <div class="search-results">

    {% for moment in moments %}
      <div class="result-item"  onclick="window.location.href='/comment?id={{moment.id}}'">
        <p class="post-id">Id: {{moment.id}}</p>
        <p>{{moment.description}}</p>
      </div>
    {% endfor %}
  </div>

  <div class="post-form">
    <form action="\createmoment" method="GET">
      <input class="submit-button" type="submit" value="Create a post!">
      
    </form>
  </div>

</body>
</html>

